<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/navbar') %>
  <section class="mt-3">
    <div class="container mb-3">
      <h2 class="mb-3">게시판</h2>

      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col" class="date">일자</th>
          </tr>
        </thead>

        <tbody>
          <% if(data == null || data.length == 0){ %>
            <tr>
              <td colspan=2> 등록된 글이 없어요 :( </td>
            </tr>
          <% } %>

          <% data.forEach(function(data) { %>
            <tr>
              <td>
                <a href="/postsRead/<%= data.post_seq%>"><div class="ellipsis"><%= data.post_title %></div></a>
              </td>
              <td class="author">
                <div class="ellipsis"><%= data.post_writer %></div>
              </td>
              <td class="date">
                <div class="ellipsis"><%= data.post_in_date %></div>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>

      <div class="col-2">
        <% if(isAuthenticated){ %> 
          <a class="btn btn-primary" href="/postsCreate">New</a>
        <% } %>
      </div>

      <nav class="col-8">
        <%
          var offset = 2;
          var previousBtnEnabled = currentPage>1;
          var nextBtnEnabled = currentPage<maxPage;
        %>
        <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
          <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
            <a class="page-link" href="/posts?page=<%= currentPage-1 %>&limit=<%= limit %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>«</a>
          </li>
          <% for(i=1;i<=maxPage;i++){ %>
            <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
              <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts?page=<%= i %>&limit=<%= limit %>"> <%= i %> </a></li>
            <% } else if(i==2 || i==maxPage-1){ %>
              <li><a class="page-link">...</a></li>
            <% } %>
          <% } %>
          <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
            <a class="page-link" href="/posts?page=<%= currentPage+1 %>&limit=<%= limit %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>»</a>
          </li>
        </ul>
      </nav>
  
    </div>
  </section>

</body>
</html>